<header class="backdrop-blur-md h-[160px] shadow-sm bg-[#F5F5F5] fixed top-0 w-full z-50">
  <div class="flex items-center px-2 sm:px-4 h-full lg:px-8">
    <div class="flex h-full w-1/5 justify-start items-center">
      <a routerLink="/" class=" no-underline hover:cursor-pointer h-3/4"><img class=" h-full w-full"
          src="../../assets/header_logo.png" alt="Your Company"></a>
    </div>
    <div class="flex w-3/5 justify-center space-x-9">
      <nav class="flex justify-center items-center space-x-9">
        @for (item of links_; track item.id) {
        <app-link-item [link]="item" />
        }
      </nav>
    </div>
    <div class="w-1/5 flex space-x-2 items-center text-[#009245] font-bold justify-end">
      <mat-icon fontIcon="person_outline"></mat-icon>
      <span>Delphine</span>
      <button [matMenuTriggerFor]="menu" matIconButton >
        <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
      </button>
    </div>
  </div>

  <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
    <a routerLink="#" mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profil</span>
    </a>
    <a routerLink="#" mat-menu-item>
      <mat-icon>history</mat-icon>
      <span>Historiques</span>
    </a>
    <a routerLink="#" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Déconnexion</span>
    </a>
  </mat-menu>
  <!-- @if (user$) {
  <div class="hidden lg:relative lg:z-10 lg:ml-4 lg:flex lg:items-center">
    <div class="relative ml-4 shrink-0">
      <div>
        <button mat-button [matMenuTriggerFor]="menu" class="flex items-center space-x-1">
          <mat-icon fontIcon="person" class="text-yellow-400"></mat-icon>
          <span class="text-yellow-400">{{email}}</span>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/profil"><mat-icon fontIcon="manage_accounts"></mat-icon>Profil</a>
          <li mat-menu-item (click)="logOut()"><mat-icon fontIcon="logout"></mat-icon>Se déconnecter</li>
        </mat-menu>
      </div>
    </div>
  </div>
  } -->
</header>