<div class="w-full sticky z-10 top-0 scroll-mt-3 max-w-4xl mx-auto my-8 px-4">
    <div
        class="relative flex items-center w-full h-16 rounded-2xl focus-within:shadow-lg bg-white border border-[#FC4E00] shadow-md overflow-hidden transition-shadow duration-300">
        <input [formControl]="searchControl"
            class="peer h-full w-full border-none outline-none focus:ring-0 text-lg text-green-800 placeholder-green-700 font-bold px-6 bg-transparent"
            type="text" id="search" placeholder="Rechercher un objet" />

        <div class="grid place-items-center h-full w-16 text-green-700">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </div>
    </div>
</div>