<div class="relative h-48 bg-gray-100">
    <img [src]="item()?.images![item()?.currentImageIndex!]" [alt]="item()?.title"
        class="w-full h-full object-cover transition-opacity duration-300">

    <button *ngIf="item()?.images!.length > 1" (click)="prevImage($event)"
        class="absolute left-2 top-1/2 -translate-y-1/2 bg-white/50 hover:bg-white text-gray-800 rounded-full p-1 backdrop-blur-xs cursor-pointer hover:scale-110 transition-transform">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
    </button>

    <button *ngIf="item()?.images!.length > 1" (click)="nextImage($event)"
        class="absolute right-2 top-1/2 -translate-y-1/2 bg-white/50 hover:bg-white text-gray-800 rounded-full p-1 backdrop-blur-xs cursor-pointer hover:scale-110 transition-transform">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
    </button>
</div>

<div class="p-5 flex flex-col grow">
    <h3 class="text-lg font-bold text-gray-800 mb-2">{{ item()?.title }}</h3>

    <p class="text-xs text-gray-500 leading-relaxed mb-4 grow">
        {{ item()?.description }}
        <br>
        <span class="block mt-2">Si c'est le vôtre, merci de décrire un détail supplémentaire pour
            confirmation.</span>
    </p>

    <div class="mb-4">
        <span class="text-xs font-bold text-gray-900 block">Trouvé à :</span>
        <span class="text-xs text-gray-600">{{ item()?.location }}</span>
    </div>

    <button
        class="w-full bg-[#FC4E00] hover:bg-[#e04600] text-white font-bold py-2.5 rounded-lg text-sm transition duration-200 shadow-sm">
        C'est peut être à moi
    </button>
</div>