<header class="backdrop-blur-md h-[120px] mx-auto shadow-sm bg-[#F5F5F5] fixed top-0 w-full z-50">
  <div class="flex items-center px-2 sm:px-4 h-full lg:px-8">
    <a routerLink="/" class=" no-underline hover:cursor-pointer h-full"><img class=" h-full w-full"
        src="/images/header_logo.png" alt="Your Company"></a>
    <div class="flex w-3/5 justify-center space-x-9">
      <nav class="flex justify-center items-center space-x-9">
        @for (item of links_; track item.id) {
        <app-link-item [link]="item" />
        }
      </nav>
    </div>
    <div class="w-1/5 flex items-center hover:cursor-pointer text-[#009245] font-bold justify-end">
      <app-dropdown [options]="dropdownMenuItems" [placement]="'bottom-right'">
        <!-- Trigger personnalisé -->
        <ng-template #dropdownTrigger let-context>
          <button (click)="context.toggleDropdown()" class="flex space-x-1 rounded-md border p-1 items-center">
            <span class="flex items-center justify-center w-10 h-10 rounded-full border">
              <span class=" font-bold">
                {{getAvatar()}}
              </span>
              <!--  -->
            </span>
            <span class="capitalize">{{ getDisplayName()}}</span>
            <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
          </button>
        </ng-template>
        <ng-template #dropdownOption let-option let-selected="selected" let-select="select"
          let-closeDropdown="closeDropdown">
          <div
            class="flex items-center space-x-3 px-4 py-3 hover:bg-gray-50 cursor-pointer border-b border-gray-100 last:border-b-0"
            (click)="option.action(option);closeDropdown()">
            <div class="flex-1 flex space-x-2">
              <mat-icon class="text-base" [fontIcon]="option.icon"></mat-icon>
              <div class="font-medium text-gray-900">{{ option.label }}</div>
            </div>
          </div>
        </ng-template>
      </app-dropdown>
    </div>
  </div>
</header>