@if (link()) {
<div class="flex items-center group">
    @if (link()?.icon) {
        <mat-icon [fontIcon]="link()?.icon!" class="text-[#009245] group-hover:scale-110 transition-transform duration-200"></mat-icon>
    }
    <a [routerLink]="link()?.url"
        routerLinkActive="after:w-full text-[#009245]"
        [routerLinkActiveOptions]="{ exact: true }"
        class="no-underline text-gray-700 hover:text-[#009245] font-medium px-3 py-2 rounded-lg transition-all duration-200 relative
        after:absolute after:bottom-0 after:left-0 after:w-0 after:h-0.5 after:bg-linear-to-r after:from-[#009245] after:to-green-700 after:transition-all after:duration-300 hover:after:w-full">
        {{link()?.title}}
    </a>
</div>
}